<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Hello admin!</title>
    </head>
    <body>
        
        <center>

        <h1>This is for admin eyes only.</h1>
        
        <p>The company will go under in two months.</p>
        <p>Remember to fire Ted.</p>
        
        <a th:href="@{/login}"><span class="blink">Go back to start</span></a>
        
        </center>
        <img src="https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png"/>
        
        

    </body>
</html>

