<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


    <head>
        <title>Enter data</title>
    </head>
    <body>

        <h1>Change your password using this form</h1>

        <p>Enter your new password:</p>

        <form action="#" th:action="@{/password}" method="POST">
            <p>Password: <input type="password" name="password"/></p>
            <p><input type="submit" value="Change password" /></p>
        </form>

        <h2>Add a new user</h2>

        <p>Enter your name and password:</p>

        <form action="#" th:action="@{/form2}" method="POST">
            <p><label for="name">Name</label>: <input type="text" name="name" id="name"/></p>
            <p><label for="password">Password</label>: <input type="text" name="password" id="password"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <h2>Admin login</h2>

        <p>Login here to see secret business things:</p>

        <form action="#" th:action="@{/form3}" method="POST">
            <p><label for="name">Name</label>: <input type="text" name="name" id="name"/></p>
            <p><label for="password">Password</label>: <input type="text" name="password" id="password"/></p>
            <p><input type="submit" value="Login" /></p>
        </form>


        <p></p>

    </body>
</html>
